html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*////////////// END OF CSS RESET /////////////// */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

header{
    background: #151515;
}

#logo{
    background:url("images/logo.png");
    background-repeat: no-repeat;
    height: 70px;
    width: 280px;
    float:left;
    text-indent: -10000px;
}

header::after{
    content:"";
    clear:both;
    display: block;
}

header nav{
    float:right;
    margin-top: 30px;
    margin-right: 10px;
}

header nav a{
    color: #fff;
    text-decoration: none;
    line-height: 18.75px;
    font-size: 16px;

}

header nav h2{
    height: 0;
    text-indent: -10000px;
}

header nav li{
    float: left;
    margin-left: 20px;
}

header nav span{
    color: #51b105;
    margin-left:20px;
}

#leadbanner img{
    width: 100%;
}

#leadbanner{
  max-height: 440px;
  overflow:hidden;
  position: relative;
}

.banner-overlay{
    position: absolute;
    top: 20%;
    width: 100%;
}

.banner-title{
    color: #fff;
    text-transform: uppercase;
    font-size: 72px;
    font-weight: bold;    
}
  
#leadbanner p{
    color: #fff;
    font-size: 24px;
    max-width: 550px;
    margin-top: 10px;
    margin-left: 8px;
}

#leadbanner a{
    background: #4eae06; /* Old browsers */ /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4eae06), color-stop(100%,#4eae06)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4eae06 0%,#4eae06 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4eae06 0%,#4eae06 100%); /* Opera 11.10+ */ /* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, from(#4eae06),to(#4eae06));
    background: linear-gradient(to bottom, #4eae06 0%,#4eae06 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4eae06', endColorstr='#4eae06',GradientType=0 ); /* IE6-9 */
    display: block;
    width: 285px;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    border-radius: 5px;
    margin-top: 40px;
    padding:15px 0;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5px;
    -webkit-box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
            box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
}

section{
    margin: 48px 0 60px;
}

section::after{
    content: "";
    display: block;
    clear:both;
}

#points-of-sale li{
    float: left;
    width: 33.33%;
}

#points-of-sale h2{
    height: 0;
    text-indent: -10000px;
}

#points-of-sale li h3{
    text-align: center;
    margin-top: 10px;
    font-size: 32px;
    font-weight:normal;
    color: #a8a8a8;
}

#points-of-sale li img{
    display: block;
    margin: auto;
}

#points-of-sale li p{
    text-align: center;
    display:block;
    margin: 10px auto 0;
    width: 250px;
    font-size: 14px;
    color: #8c8b8b;
    line-height: 1.4em;
}

#clients{
    border-top: 1px solid #ccc;
    padding-top: 30px;
}

#clients h2, #contact h2{
    background:#52b106;
    font-weight: bold;
    color: #fff;
    padding: 8px 0px;
    text-align: center;
    width: 220px;
    text-transform: uppercase;
    position: relative;
    top:-48px;
    margin: 0 auto;
    border-left: 16px solid #fff;
    border-right: 16px solid #fff;
}

#clients img{
    float: left;
    width: 30%;
}

#clients blockquote{
    float: right;
    width: 66%;
    margin-top: 28px;
    text-align: center;
    font-style: italic;
    line-height: 1.6em;
    color: #888;
    padding-top: 50px;
    background: url("images/quote.png") no-repeat top left;
}

#contact{
    border-top: 1px solid #ccc;
    margin-top: 90px;
    padding-top: 30px;
}

#contact h2{
    width: 160px;
}

#contact-methods{
    float: left;
}

#contact-methods li{
    color:#888;
    line-height: 30px;
    clear:left;
}

#contact-methods li::before{
    content:"";
    display:block;
    width: 40px;
    height: 40px;
    float:left;
    margin-right: 10px;
    background: url("images/logo-sprite.png") no-repeat;
}

#contact-methods li:nth-child(1)::before{
    background-position: -158px 0;
}

#contact-methods li:nth-child(2)::before{
    background-position: -198px 0;
}

#contact-methods li:nth-child(3)::before{
    background-position: -238px 0;
}

#contact img{
    float: right;
}

#social-nav{
    clear:both;
    position: relative;
    top: -40px;
}

#social-nav li{
    float:left;
    width: 40px;
    height: 32px;
    background:url("images/logo-sprite.png") no-repeat;
    text-indent: -10000px;
}

#social-nav li:nth-child(2){
    background-position: -40px 0;
}

#social-nav li:nth-child(3){
    background-position: -80px 0;
}
#social-nav li:nth-child(4){
    background-position: -120px 0;
}

#social-nav a{
    display: block;
    width: 100%;
    height: 100%;
}